// _fonts.scss

@font-face {
    font-family: 'Neue Montreal';
    src: url('./utils/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('./utils/fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./utils/fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('./utils/fonts/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./utils/fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('./utils/fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./utils/fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('./utils/fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
