@use "../../utils/style/variables" as *;

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  position: relative;

  &__container {
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
    color: $white;
    font-family: "Neue Montreal", serif;
    border: 1px solid $white;
    background-color: $grey-background;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0rem;
    }
  }

  &.layout--dark {
    background-color: $grey-background;
  }

  &.layout--light {
    background-color: $white;
    
    .layout__container {
      border: 1px solid black;
    }
  }
}
