/* _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html a, body a, div a, span a, applet a, object a, iframe a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, blockquote a, pre a,
a a, abbr a, acronym a, address a, big a, cite a, code a,
del a, dfn a, em a, img a, ins a, kbd a, q a, s a, samp a,
small a, strike a, strong a, sub a, sup a, tt a, var a,
b a, u a, i a, center a,
dl a, dt a, dd a, ol a, ul a, li a,
fieldset a, form a, label a, legend a,
table a, caption a, tbody a, tfoot a, thead a, tr a, th a, td a,
article a, aside a, canvas a, details a, embed a,
figure a, figcaption a, footer a, header a, hgroup a,
menu a, nav a, output a, ruby a, section a, summary a,
time a, mark a, audio a, video a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
html a:visited, body a:visited, div a:visited, span a:visited, applet a:visited, object a:visited, iframe a:visited,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited, p a:visited, blockquote a:visited, pre a:visited,
a a:visited, abbr a:visited, acronym a:visited, address a:visited, big a:visited, cite a:visited, code a:visited,
del a:visited, dfn a:visited, em a:visited, img a:visited, ins a:visited, kbd a:visited, q a:visited, s a:visited, samp a:visited,
small a:visited, strike a:visited, strong a:visited, sub a:visited, sup a:visited, tt a:visited, var a:visited,
b a:visited, u a:visited, i a:visited, center a:visited,
dl a:visited, dt a:visited, dd a:visited, ol a:visited, ul a:visited, li a:visited,
fieldset a:visited, form a:visited, label a:visited, legend a:visited,
table a:visited, caption a:visited, tbody a:visited, tfoot a:visited, thead a:visited, tr a:visited, th a:visited, td a:visited,
article a:visited, aside a:visited, canvas a:visited, details a:visited, embed a:visited,
figure a:visited, figcaption a:visited, footer a:visited, header a:visited, hgroup a:visited,
menu a:visited, nav a:visited, output a:visited, ruby a:visited, section a:visited, summary a:visited,
time a:visited, mark a:visited, audio a:visited, video a:visited {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Regular.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Bold.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Light.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Medium.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projectCard {
  width: 23%;
  margin: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(14, 14, 14, 0.986);
  border-radius: 5px;
}
.projectCard:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.projectCard.show {
  animation: appear 1s ease forwards;
}
.projectCard__img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%) brightness(90%);
  transition: filter 0.3s ease, transform 0.3s ease;
}
.projectCard:hover .projectCard__img {
  filter: grayscale(0%) brightness(100%);
}

.projectCard:hover .projectCard__overlay {
  opacity: 1;
}

@keyframes appearFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.ProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(245, 245, 245);
  z-index: 1000;
  animation: appearFromCenter 0.3s cubic-bezier(0.94, 0.29, 0.11, 0.76);
}
.ProjectModal.ProjectModal--dark {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
}
.ProjectModal.ProjectModal--light {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container__close {
  color: rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container__close:hover {
  color: rgb(249, 198, 16);
}
.ProjectModal__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1.8vh 1.8vh 0 1.8vh;
}
.ProjectModal__img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.ProjectModal__title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2.5rem;
}
.ProjectModal__links {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.ProjectModal__githubIcon, .ProjectModal__gitPageIcon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 1rem 1rem;
  fill: rgb(245, 245, 245);
}
.ProjectModal__githubIcon span, .ProjectModal__gitPageIcon span {
  font-size: 1rem;
  margin: 0 1rem;
}
.ProjectModal__skillsTitle {
  margin: 1.5rem;
}
.ProjectModal__skill {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding-left: 1.5rem;
}
.ProjectModal__icon {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  fill: rgb(245, 245, 245);
}

.container {
  border-bottom: 1px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: row-reverse;
}
.container__close {
  margin: 5px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(245, 245, 245);
  cursor: pointer;
}
.container__close:hover {
  color: rgb(249, 198, 16);
}

.ThemeSwitcher {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: flex;
}
.ThemeSwitcher__input {
  display: none;
}
.ThemeSwitcher__input + .ThemeSwitcher__text::before {
  content: "";
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  border: 1px solid rgb(245, 245, 245);
  margin: 0 0.5rem 0 0.5rem;
}
.ThemeSwitcher__input:checked + .ThemeSwitcher__text::before {
  background-color: white;
}
.ThemeSwitcher__text {
  font-family: "Neue Montreal";
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
}

.ThemeSwitcher--light .ThemeSwitcher__text {
  color: black;
  font-weight: 400;
}
.ThemeSwitcher--light .ThemeSwitcher__input + .ThemeSwitcher__text::before {
  border: 1px solid black;
}
.ThemeSwitcher--light .ThemeSwitcher__input:checked + .ThemeSwitcher__text::before {
  background-color: black;
}

.homePageLink {
  display: flex;
  align-items: center;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
  left: 1rem;
  bottom: 1.44rem;
}
.homePageLink__line {
  width: 12vh;
  border-top: 1px solid black;
  margin-right: 1rem;
}
.homePageLink__text {
  margin: 0;
  color: black;
  text-transform: uppercase;
  font-family: "neue montreal", serif;
  font-weight: 100;
  font-weight: 400;
  margin-left: 2rem;
  cursor: pointer;
}
.homePageLink__text:hover {
  text-decoration: line-through;
}
.homePageLink--dark .homePageLink__line {
  border-color: rgb(245, 245, 245);
}
.homePageLink--dark .homePageLink__text {
  color: rgb(245, 245, 245);
  font-weight: 400;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: rgba(14, 14, 14, 0.986);
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Neue Montreal", serif;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-form--dark {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
}
.contact-form--light {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
}
.contact-form--light .contact-form__input, .contact-form--light .contact-form__textarea {
  background-color: rgba(14, 14, 14, 0.986);
  color: rgb(245, 245, 245);
}
.contact-form__input-wrapper {
  margin-bottom: 1rem;
}
.contact-form__input-wrapper textarea {
  height: 150px;
  resize: none;
}
.contact-form__input-wrapper textarea::-webkit-scrollbar {
  width: 10px;
}
.contact-form__input-wrapper textarea::-webkit-scrollbar-thumb {
  background-color: rgb(249, 198, 16);
}
.contact-form__input-wrapper label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form__input-wrapper input, .contact-form__input-wrapper textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
}
.contact-form__input-wrapper input:focus, .contact-form__input-wrapper textarea:focus {
  outline: 2px solid rgb(249, 198, 16);
}
.contact-form__button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(249, 198, 16);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form__button:hover {
  background-color: rgb(182, 145, 11);
}
.contact-form__message {
  margin-top: 1rem;
  text-align: center;
}
.contact-form__message--error {
  color: red;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.layout__container {
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  color: rgb(245, 245, 245);
  font-family: "Neue Montreal", serif;
  border: 1px solid rgb(245, 245, 245);
  background-color: rgba(14, 14, 14, 0.986);
  overflow: auto;
}
.layout__container::-webkit-scrollbar {
  width: 0rem;
}
.layout.layout--dark {
  background-color: rgba(14, 14, 14, 0.986);
}
.layout.layout--light {
  background-color: rgb(245, 245, 245);
}
.layout.layout--light .layout__container {
  border: 1px solid black;
}

.navBar {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  font-size: 4rem;
  font-weight: 100;
  margin-right: 2rem;
  text-align: right;
}
.navBar--dark a {
  color: rgb(245, 245, 245);
}
.navBar--light .navBar__item {
  color: rgb(0, 0, 0);
}
.navBar__list {
  display: flex;
}
.navBar__item {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.navBar__item:hover {
  color: rgb(249, 198, 16);
  transform: translateX(-1rem);
}

@keyframes slideFromRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.language-switcher {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 7rem;
  left: 1rem;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.language-switcher--dark .language-switcher__option {
  color: rgb(245, 245, 245);
}
.language-switcher--dark .language-switcher__line {
  background-color: rgb(245, 245, 245);
}
.language-switcher--light .language-switcher__line {
  background-color: rgb(0, 0, 0);
}
.language-switcher__options {
  display: flex;
  align-items: center;
  position: relative;
  height: 1rem;
}
.language-switcher__option {
  cursor: pointer;
  padding: 0 10px;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  transition: color 0.3s;
}
.language-switcher__line {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 50%;
  transition: left 0.3s;
}
.language-switcher__line--fr {
  left: 0;
}
.language-switcher__line--en {
  left: 50%;
}

@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}
@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.home {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: "Neue Montreal", serif;
  position: relative;
}
.home--dark {
  background-color: rgba(14, 14, 14, 0.986);
}
.home--dark .home__fullName,
.home--dark .home__title {
  color: rgb(245, 245, 245);
}
.home--light {
  background-color: rgb(245, 245, 245);
}
.home--light .home__fullName,
.home--light .home__title {
  color: rgb(0, 0, 0);
}
.home__name {
  font-size: 3rem;
  font-weight: 100;
  padding: 4rem 0 0 4rem;
}
.home__textWrapper {
  overflow: hidden;
}
.home__fullName {
  animation: slideFromBottom 1s ease 0.3s forwards;
}
.home__title {
  font-size: 2rem;
  font-weight: 100;
  padding-left: 4rem;
  animation: slideFromBottom 1s ease 0.5s forwards;
  padding-bottom: 5px;
}
.home__fullName, .home__title {
  transform: translateY(100%);
}
.home__portrait {
  animation: popUp 1s ease-in-out 0.2s forwards;
  transform: scale(0);
  height: 45%;
  position: absolute;
  opacity: 0;
  border: 1px solid rgb(0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.project {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.project__title {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
  color: rgb(245, 245, 245);
}
.project__subtitle {
  font-size: 3rem;
  font-weight: 100;
  padding-left: 2rem;
  color: rgb(245, 245, 245);
}
.project.project--dark {
  background-color: rgba(14, 14, 14, 0.986);
}
.project.project--light {
  background-color: rgb(245, 245, 245);
}
.project.project--light .project__title,
.project.project--light .project__subtitle {
  color: black;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.project--blur {
  filter: blur(2px);
  transition: filter 0.5s ease;
}

.formation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* Formation Content */
}
.formation__title {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
  color: rgb(245, 245, 245);
}
.formation.formation--light {
  background-color: rgb(245, 245, 245);
}
.formation.formation--light .formation__title,
.formation.formation--light .formation__content {
  color: rgb(0, 0, 0);
}
.formation__content {
  margin: 4rem 0 0 10rem;
  color: rgb(245, 245, 245);
  max-width: 35%;
}
.formation__paragraph {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.formation__section {
  margin-top: 3rem;
}
.formation__section-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.formation__skills {
  list-style-type: disc;
  padding-left: 4rem;
  font-size: 1.2rem;
}
.formation__skills .formation__skill {
  margin-bottom: 0.5rem;
}
.formation__conclusion {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.about__title {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
  color: rgb(245, 245, 245);
}
.about__content {
  display: flex;
  align-items: flex-end;
}
.about__img {
  width: 350px;
  margin: 15rem 0 0 10rem;
}
.about__textContainer {
  margin-left: 3rem;
  width: 40%;
}
.about__text {
  display: flex;
  font-size: 1.5rem;
  color: rgb(245, 245, 245);
  line-height: 2rem;
}
.about.about--dark {
  background-color: rgba(14, 14, 14, 0.986);
}
.about.about--dark img {
  border: 1px solid rgb(245, 245, 245);
}
.about.about--light {
  background-color: rgb(245, 245, 245);
}
.about.about--light .about__title,
.about.about--light .about__text {
  color: black;
}

.contact {
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal", serif;
  position: relative;
}
.contact--dark {
  background-color: rgba(14, 14, 14, 0.986);
}
.contact--dark .contact__title {
  color: rgb(245, 245, 245);
}
.contact--light {
  background-color: rgb(245, 245, 245);
}
.contact--light .contact__title {
  color: rgb(0, 0, 0);
}
.contact__title {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
  animation: slideFromBottom 1s ease 0.9s forwards;
}/*# sourceMappingURL=main.css.map */