/* _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html a, body a, div a, span a, applet a, object a, iframe a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, blockquote a, pre a,
a a, abbr a, acronym a, address a, big a, cite a, code a,
del a, dfn a, em a, img a, ins a, kbd a, q a, s a, samp a,
small a, strike a, strong a, sub a, sup a, tt a, var a,
b a, u a, i a, center a,
dl a, dt a, dd a, ol a, ul a, li a,
fieldset a, form a, label a, legend a,
table a, caption a, tbody a, tfoot a, thead a, tr a, th a, td a,
article a, aside a, canvas a, details a, embed a,
figure a, figcaption a, footer a, header a, hgroup a,
menu a, nav a, output a, ruby a, section a, summary a,
time a, mark a, audio a, video a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
html a:visited, body a:visited, div a:visited, span a:visited, applet a:visited, object a:visited, iframe a:visited,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited, p a:visited, blockquote a:visited, pre a:visited,
a a:visited, abbr a:visited, acronym a:visited, address a:visited, big a:visited, cite a:visited, code a:visited,
del a:visited, dfn a:visited, em a:visited, img a:visited, ins a:visited, kbd a:visited, q a:visited, s a:visited, samp a:visited,
small a:visited, strike a:visited, strong a:visited, sub a:visited, sup a:visited, tt a:visited, var a:visited,
b a:visited, u a:visited, i a:visited, center a:visited,
dl a:visited, dt a:visited, dd a:visited, ol a:visited, ul a:visited, li a:visited,
fieldset a:visited, form a:visited, label a:visited, legend a:visited,
table a:visited, caption a:visited, tbody a:visited, tfoot a:visited, thead a:visited, tr a:visited, th a:visited, td a:visited,
article a:visited, aside a:visited, canvas a:visited, details a:visited, embed a:visited,
figure a:visited, figcaption a:visited, footer a:visited, header a:visited, hgroup a:visited,
menu a:visited, nav a:visited, output a:visited, ruby a:visited, section a:visited, summary a:visited,
time a:visited, mark a:visited, audio a:visited, video a:visited {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Regular.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Bold.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Light.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Medium.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-85%);
  }
  15% {
    transform: translateX(-80%);
  }
  20% {
    transform: translateX(-80%);
  }
  70% {
    transform: translateX(-40%);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes expandBorder {
  from {
    width: 20%;
    height: 1.2rem;
  }
  to {
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
  }
}
@keyframes transparence {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
  z-index: 99;
}
.loader__border {
  width: 20%;
  height: 1.2rem;
  border: 1px solid rgb(245, 245, 245);
  overflow: hidden;
  padding: 2px;
  animation: expandBorder 0.5s ease-in-out 2.8s forwards;
}
.loader__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loader__bar {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  animation: loader 2.5s linear 0.3s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projectCard {
  width: 20%;
  min-width: 187px;
  margin: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.projectCard:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(22, 22, 22, 0.4);
}
.projectCard:hover .projectCard__img {
  filter: grayscale(0%) brightness(100%);
}
.projectCard:hover .projectCard__overlay {
  opacity: 1;
}
.projectCard.show {
  animation: appear 1s ease forwards;
}
.projectCard__img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%) brightness(90%);
  transition: filter 0.3s ease, transform 0.3s ease;
}
.projectCard__banner {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 1;
}
.projectCard__banner--dark {
  background-color: white;
  color: black;
}
@media (max-width: 1024px) {
  .projectCard {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .projectCard {
    width: 80%;
  }
}

@keyframes appearFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.ProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  box-shadow: 0 0 25px rgba(22, 22, 22, 0.4);
  border: 1px solid rgb(245, 245, 245);
  z-index: 1000;
  animation: appearFromCenter 0.3s cubic-bezier(0.94, 0.29, 0.11, 0.76);
}
.ProjectModal.ProjectModal--dark {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
}
.ProjectModal.ProjectModal--light {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container__close {
  color: rgb(0, 0, 0);
}
.ProjectModal.ProjectModal--light .container__close:hover {
  color: rgb(249, 198, 16);
}
.ProjectModal__content {
  margin: clamp(1rem, 2vh, 1.2rem);
  padding: 0 clamp(1rem, 2vh, 1.2rem);
}
.ProjectModal__mainContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: clamp(1rem, 2vh, 1.2rem);
}
.ProjectModal__img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  align-self: center;
}
.ProjectModal__title {
  font-size: clamp(1.5rem, 3vw, 1.7rem);
  font-weight: 400;
  padding-top: clamp(0.5rem, 2vh, 1rem);
}
.ProjectModal__description {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  margin-top: clamp(0.5rem, 1vh, 0.7rem);
  line-height: 1.4;
  padding: 0.5rem 0;
}
.ProjectModal__skillsTitle {
  margin: clamp(0.5rem, 2vw, 1.2rem);
  font-size: clamp(0.8rem, 2vw, 1.4rem);
}
.ProjectModal__skill {
  display: flex;
  align-items: center;
  margin: 0 clamp(0.1rem, 1vw, 1rem);
  padding-left: clamp(0.1rem, 1vw, 1rem);
  line-height: clamp(1rem, 3vw, 1.6rem);
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.ProjectModal__skillsList {
  margin-bottom: 1rem;
}
.ProjectModal__githubIcon, .ProjectModal__gitPageIcon {
  z-index: 1000;
  display: flex;
  align-items: center;
  font-size: clamp(1rem, 3vh, 1rem);
  margin: 1rem 1rem;
  fill: rgb(245, 245, 245);
}
.ProjectModal__githubIcon span, .ProjectModal__gitPageIcon span {
  font-size: clamp(0.5rem, 2vw, 1rem);
  margin: 0 1rem;
}
.ProjectModal__githubIcon span:hover, .ProjectModal__gitPageIcon span:hover {
  color: rgb(249, 198, 16);
}
.ProjectModal__icon {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  fill: rgb(245, 245, 245);
}
.ProjectModal .container {
  border-bottom: 1px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: row-reverse;
}
.ProjectModal .container__close {
  margin: 5px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(245, 245, 245);
  cursor: pointer;
  transition: color 0.3s ease;
}
.ProjectModal .container__close:hover {
  color: rgb(249, 198, 16);
}
.ProjectModal .leftClickableArea,
.ProjectModal .rightClickableArea {
  position: absolute;
  top: 1.7rem;
  bottom: 0;
  width: 50%;
  height: 80%;
  cursor: pointer;
}
.ProjectModal .leftClickableArea {
  left: 0;
}
.ProjectModal .rightClickableArea {
  right: 0;
}
@media (max-width: 1440px) {
  .ProjectModal {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .ProjectModal {
    width: 60%;
  }
  .ProjectModal__title {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
  .ProjectModal__skillsTitle {
    font-size: clamp(1.1rem, 1.8vw, 2rem);
  }
  .ProjectModal__skill {
    font-size: clamp(1rem, 1.7vw, 2rem);
    line-height: 1.2rem;
    padding-left: clamp(0.3rem, 1.5vw, 2rem);
  }
  .ProjectModal__icon {
    font-size: clamp(1rem, 3vw, 2rem);
  }
  .ProjectModal__githubIcon, .ProjectModal__gitPageIcon {
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 1rem 0;
  }
}
@media (max-width: 768px) {
  .ProjectModal {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .ProjectModal {
    width: 70%;
  }
  .ProjectModal__content {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }
  .ProjectModal__title {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .ProjectModal__skillsTitle {
    font-size: clamp(0.9rem, 2.3vw, 2rem);
  }
  .ProjectModal__skill {
    font-size: clamp(0.8rem, 2vw, 2rem);
    line-height: 1.2rem;
    padding-left: clamp(0.5rem, 2vw, 2rem);
  }
  .ProjectModal__icon {
    font-size: clamp(1rem, 3.5vw, 2rem);
    margin: 0 0.5rem;
    align-self: flex-start;
  }
  .ProjectModal__githubIcon, .ProjectModal__gitPageIcon {
    margin: 0;
  }
  .ProjectModal__githubIcon span, .ProjectModal__gitPageIcon span {
    font-size: clamp(0.8rem, 3vw, 2rem);
    margin: 0.5rem 0.5rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .ProjectModal {
    width: 70%;
  }
  .ProjectModal__img {
    display: none;
  }
  .ProjectModal__links {
    display: flex;
  }
}

.ThemeSwitcher {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: flex;
}
.ThemeSwitcher__input {
  display: none;
}
.ThemeSwitcher__input + .ThemeSwitcher__text::before {
  content: "";
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  border: 1px solid rgb(245, 245, 245);
  margin: 0 0.5rem 0 0.5rem;
}
.ThemeSwitcher__input:checked + .ThemeSwitcher__text::before {
  background-color: rgb(245, 245, 245);
}
.ThemeSwitcher__text {
  font-family: "Neue Montreal";
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
}
.ThemeSwitcher--light .ThemeSwitcher__text {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.ThemeSwitcher--light .ThemeSwitcher__input + .ThemeSwitcher__text::before {
  border: 1px solid rgb(0, 0, 0);
}
.ThemeSwitcher--light .ThemeSwitcher__input:checked + .ThemeSwitcher__text::before {
  background-color: rgb(0, 0, 0);
}

.homePageLink {
  display: flex;
  align-items: center;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
  left: 1rem;
  bottom: 1.44rem;
}
.homePageLink__line {
  width: 12vh;
  border-top: 1px solid rgb(0, 0, 0);
  margin-right: 1rem;
}
.homePageLink__text {
  margin: 0;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "neue montreal", serif;
  font-weight: 100;
  font-weight: 400;
  margin-left: 2rem;
  cursor: pointer;
}
.homePageLink__text:hover {
  text-decoration: line-through;
}
.homePageLink--dark .homePageLink__line {
  border-color: rgb(245, 245, 245);
}
.homePageLink--dark .homePageLink__text {
  color: rgb(245, 245, 245);
  font-weight: 400;
}

.contact-form {
  width: clamp(300px, 60vw, 500px);
  max-width: 500px;
  padding: clamp(1rem, 2vw, 2rem);
  background-color: rgb(19, 19, 19);
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Neue Montreal", serif;
  border: 1px solid rgb(0, 0, 0);
  margin-left: clamp(1rem, 20vw, 20rem);
  margin-top: 10vh;
  box-sizing: border-box;
}
.contact-form--dark {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
}
.contact-form--light {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
}
.contact-form--light .contact-form__input, .contact-form--light .contact-form__textarea {
  background-color: rgb(19, 19, 19);
  color: rgb(245, 245, 245);
}
.contact-form__input-wrapper {
  margin-bottom: 1rem;
}
.contact-form__input-wrapper textarea {
  height: clamp(80px, 20vh, 100px);
  resize: none;
}
.contact-form__input-wrapper textarea::-webkit-scrollbar {
  width: 10px;
}
.contact-form__input-wrapper textarea::-webkit-scrollbar-thumb {
  background-color: rgb(249, 198, 16);
}
.contact-form__input-wrapper label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form__input-wrapper input, .contact-form__input-wrapper textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}
.contact-form__input-wrapper input:focus, .contact-form__input-wrapper textarea:focus {
  outline: 2px solid rgb(249, 198, 16);
}
.contact-form__button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(164, 164, 164);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form__button:hover {
  background-color: rgb(182, 145, 11);
}
.contact-form__message {
  margin-top: 1rem;
  text-align: center;
  margin-left: 10px;
}
.contact-form__message--success {
  color: green;
}
.contact-form__message--error {
  color: red;
}
@media (max-width: 1440px) {
  .contact-form {
    margin-left: clamp(1rem, 15vw, 20rem);
  }
}
@media (max-width: 1280px) {
  .contact-form {
    margin-left: 6vw;
  }
}
@media (max-width: 1024px) {
  .contact-form {
    align-self: center;
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .contact-form {
    width: 90%;
  }
  .contact-form__label {
    font-size: 0.8rem;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
}
.layout__container {
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  font-family: "Neue Montreal", serif;
  background-color: rgb(19, 19, 19);
  overflow: scroll;
}
.layout__container::-webkit-scrollbar {
  width: 0rem;
}
.layout.layout--dark {
  background-color: rgb(19, 19, 19);
  color: rgb(245, 245, 245);
}
.layout.layout--dark .layout__container {
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(19, 19, 19);
}
.layout.layout--light {
  background-color: rgb(245, 245, 245);
}
.layout.layout--light .layout__container {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
}

@keyframes slideFromRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.navBar {
  position: absolute;
  bottom: 3vw;
  right: 4vw;
  font-size: 4rem;
  font-weight: 100;
  text-align: right;
}
.navBar--dark a {
  color: rgb(245, 245, 245);
}
.navBar--light .navBar__item {
  color: rgb(0, 0, 0);
}
.navBar__list {
  display: flex;
}
.navBar__item {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.navBar__item:hover {
  transform: translateX(-1rem);
}
.navBar__item:hover a {
  color: rgb(249, 198, 16);
}
@media (max-width: 1440px) {
  .navBar__item {
    font-size: 3.5rem;
  }
}
@media (max-width: 1280px) {
  .navBar__item {
    font-size: 3rem;
  }
}
@media (max-width: 1024px) {
  .navBar__item {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .navBar__item {
    font-size: 1.7rem;
  }
}

.language-switcher {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 7rem;
  left: 1rem;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.language-switcher--dark .language-switcher__option {
  color: rgb(245, 245, 245);
}
.language-switcher--dark .language-switcher__line {
  background-color: rgb(245, 245, 245);
}
.language-switcher--light .language-switcher__line {
  background-color: rgb(0, 0, 0);
}
.language-switcher__options {
  display: flex;
  align-items: center;
  position: relative;
  height: 1rem;
}
.language-switcher__option {
  cursor: pointer;
  padding: 0 10px;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  transition: color 0.3s;
}
.language-switcher__option:hover {
  color: rgb(249, 198, 16);
}
.language-switcher__line {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 50%;
  transition: left 0.3s;
}
.language-switcher__line--fr {
  left: 0;
}
.language-switcher__line--en {
  left: 50%;
}

.link {
  position: absolute;
  right: 8rem;
  bottom: 8rem;
}
.link--light .link__text,
.link--light .link__icon {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.link--light .link__text:hover {
  color: rgb(249, 198, 16);
}
.link__text {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 100;
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.link__text .link__icon {
  color: inherit;
}
.link__text:hover {
  color: rgb(249, 198, 16);
}
@media (max-width: 1024px) {
  .link {
    position: static;
    text-align: end;
    margin: 2rem 2rem 0 0;
  }
}

@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}
@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
.home {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: "Neue Montreal", serif;
  position: relative;
}
.home__name {
  font-size: 4rem;
  font-weight: 100;
  padding: 4vw 0 0 4vw;
  margin-right: 4vw;
}
.home__textWrapper {
  overflow: hidden;
}
.home__fullName, .home__title {
  transform: translateY(100%);
}
.home--blur {
  animation: fadeBlur 0.8s ease;
}
.home--dark {
  background-color: rgb(19, 19, 19);
}
.home--dark .home__fullName,
.home--dark .home__title {
  color: rgb(245, 245, 245);
}
.home--light {
  background-color: rgb(245, 245, 245);
}
.home--light .home__fullName,
.home--light .home__title {
  color: rgb(0, 0, 0);
}
.home__fullName {
  animation: slideFromBottom 0.8s ease 0.3s forwards;
}
.home__title {
  font-size: 2rem;
  font-weight: 100;
  padding-left: 4vw;
  animation: slideFromBottom 0.8s ease 0.8s forwards;
  padding-bottom: 5px;
}

.portrait {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 14% 0 auto 26%;
  padding-top: 4rem;
  height: 45%;
}
.portrait__image {
  animation: popUp 0.7s ease-in-out 1s forwards;
  transform: scale(0);
  opacity: 0;
  border: 1px solid rgb(0, 0, 0);
}
.portrait__quote {
  font-size: 1.5rem;
  font-weight: 100;
  align-self: flex-end;
  margin-left: 1.5rem;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s 1.5s steps(40, end) forwards;
}

@media (max-width: 1440px) {
  .home__name {
    font-size: 3.5rem;
  }
  .home__title {
    font-size: 1.5rem;
  }
  .portrait {
    margin: auto 0 auto 20%;
  }
  .portrait__quote {
    font-size: 1.2rem;
  }
}
@media (max-width: 1280px) {
  .home__name {
    font-size: 2rem;
  }
  .home__title {
    font-size: 1.2rem;
  }
  .portrait {
    margin: auto 0 auto 15%;
  }
  .portrait__quote {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .home__name {
    font-size: 1.8rem;
  }
  .home__title {
    font-size: 1rem;
  }
  .portrait {
    margin: 10vh 0 auto 15%;
  }
  .portrait__quote {
    visibility: hidden;
  }
}
@media (max-width: 480px) {
  .portrait {
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 70%;
  }
  .portrait__image {
    width: 100%;
  }
  .portrait__quote {
    display: none;
  }
}
@media (max-width: 375px) {
  .portrait {
    width: 60%;
  }
}
.project {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.project__title {
  font-size: clamp(2rem, 8vw, 5rem);
  font-weight: 100;
  padding: 4vw 0 1rem 4vw;
  color: rgb(245, 245, 245);
}
.project__subtitle {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 100;
  padding-left: 4vw;
  color: rgb(245, 245, 245);
}
.project.project--dark {
  background-color: rgb(19, 19, 19);
}
.project.project--light {
  background-color: rgb(245, 245, 245);
}
.project.project--light .project__title,
.project.project--light .project__subtitle {
  color: rgb(0, 0, 0);
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.project--blur {
  filter: blur(2px);
  transition: filter 0.5s ease;
}

.formation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.formation__title {
  font-size: clamp(2rem, 8vw, 5rem);
  font-weight: 100;
  padding: 4vw 0 1rem 4vw;
  color: rgb(245, 245, 245);
}
.formation.formation--light {
  background-color: rgb(245, 245, 245);
}
.formation.formation--light .formation__title,
.formation.formation--light .formation__content {
  color: rgb(0, 0, 0);
}
.formation.formation--light .formation__section-title {
  font-weight: 100;
}
.formation.formation--light .formation__skill {
  font-weight: 400;
  color: rgb(122, 122, 122);
}
.formation__content {
  margin: 0 0 2rem clamp(4vw, 10vw, 10rem);
  padding-bottom: 2rem;
  color: rgb(245, 245, 245);
  max-width: 630px;
}
.formation__section {
  margin-top: 3rem;
  padding-left: clamp(0.5rem, 20vw, 5rem);
}
.formation__section-title {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 100;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.formation__skills {
  list-style-type: disc;
  padding-left: clamp(0.5rem, 10vw, 1.5rem);
  font-size: clamp(1rem, 3vw, 1rem);
}
.formation__skill {
  margin-bottom: 0.5rem;
  font-weight: 100;
  line-height: clamp(1.5rem, 5vw, 2rem);
}
.formation__conclusion {
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media (max-width: 1024px) {
  .formation__content {
    align-self: center;
    margin: 0;
  }
  .formation__section {
    margin-top: 2rem;
    padding: 0 3rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 100;
}
.about__title {
  font-size: clamp(2rem, 8vw, 5rem);
  padding: 4vw 0 1rem 4vw;
  color: rgb(245, 245, 245);
}
.about__content {
  display: flex;
  margin: 13vh 0 0 9vw;
  align-items: flex-end;
  flex-wrap: wrap;
}
.about__img {
  width: clamp(200px, 20vw, 300px);
  margin-right: 2rem;
  border: 1px solid rgb(0, 0, 0);
}
.about__textContainer {
  width: 35%;
  width: clamp(20%, 50vw, 50%);
}
.about__text {
  display: flex;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: rgb(245, 245, 245);
  line-height: clamp(1.5rem, 2vw, 2rem);
  margin-top: 1rem;
}
.about.about--dark {
  background-color: rgb(19, 19, 19);
}
.about.about--dark img {
  border: 1px solid rgb(245, 245, 245);
}
.about.about--light {
  background-color: rgb(245, 245, 245);
}
.about.about--light .about__text {
  font-weight: 400;
}
.about.about--light .about__title,
.about.about--light .about__text {
  color: rgb(0, 0, 0);
}
@media (max-width: 1024px) {
  .about__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .about__textContainer {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .about__content {
    margin: 2rem 2rem;
  }
  .about__textContainer {
    width: 100%;
  }
  .about__text {
    align-self: center;
  }
  .about__img {
    width: 100%;
    margin: 0;
  }
}

.contact {
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal", serif;
  position: relative;
}
.contact--dark {
  background-color: rgb(19, 19, 19);
}
.contact--dark .contact__title {
  color: rgb(245, 245, 245);
}
.contact--light {
  background-color: rgb(245, 245, 245);
}
.contact--light .contact__title {
  color: rgb(0, 0, 0);
}
.contact__title {
  font-size: clamp(2rem, 8vw, 5rem);
  padding: 4vw 0 0 4vw;
  font-weight: 100;
  animation: slideFromBottom 1s ease 0.9s forwards;
}
.contact__content {
  display: flex;
}
.contact__icon {
  align-self: flex-end;
  margin-left: 1rem;
  padding-bottom: 5rem;
}
.contact__text {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-left: 1rem;
  padding-bottom: 5rem;
  font-weight: 100;
  width: 30%;
  align-self: flex-end;
}
@media (max-width: 1024px) {
  .contact__content {
    flex-direction: column;
  }
  .contact__icon {
    display: none;
  }
  .contact__text {
    align-self: center;
    margin-left: 0;
    margin-top: 2rem;
    padding-bottom: 1rem;
    width: clamp(300px, 60vw, 500px);
    line-height: 1.5rem;
  }
}
@media (max-width: 375px) {
  .contact__text {
    width: 90%;
  }
}

.social {
  position: absolute;
  bottom: clamp(1.5rem, 2vw, 2rem);
  right: clamp(1.5rem, 2vw, 2rem);
  display: flex;
}
.social ul li {
  display: inline-block;
  margin: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
@media (max-width: 768px) {
  .social {
    position: static;
    flex-direction: row-reverse;
  }
}
@media (max-width: 375px) {
  .social {
    position: static;
    bottom: 0;
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */