/* _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html a, body a, div a, span a, applet a, object a, iframe a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, blockquote a, pre a,
a a, abbr a, acronym a, address a, big a, cite a, code a,
del a, dfn a, em a, img a, ins a, kbd a, q a, s a, samp a,
small a, strike a, strong a, sub a, sup a, tt a, var a,
b a, u a, i a, center a,
dl a, dt a, dd a, ol a, ul a, li a,
fieldset a, form a, label a, legend a,
table a, caption a, tbody a, tfoot a, thead a, tr a, th a, td a,
article a, aside a, canvas a, details a, embed a,
figure a, figcaption a, footer a, header a, hgroup a,
menu a, nav a, output a, ruby a, section a, summary a,
time a, mark a, audio a, video a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
html a:visited, body a:visited, div a:visited, span a:visited, applet a:visited, object a:visited, iframe a:visited,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited, p a:visited, blockquote a:visited, pre a:visited,
a a:visited, abbr a:visited, acronym a:visited, address a:visited, big a:visited, cite a:visited, code a:visited,
del a:visited, dfn a:visited, em a:visited, img a:visited, ins a:visited, kbd a:visited, q a:visited, s a:visited, samp a:visited,
small a:visited, strike a:visited, strong a:visited, sub a:visited, sup a:visited, tt a:visited, var a:visited,
b a:visited, u a:visited, i a:visited, center a:visited,
dl a:visited, dt a:visited, dd a:visited, ol a:visited, ul a:visited, li a:visited,
fieldset a:visited, form a:visited, label a:visited, legend a:visited,
table a:visited, caption a:visited, tbody a:visited, tfoot a:visited, thead a:visited, tr a:visited, th a:visited, td a:visited,
article a:visited, aside a:visited, canvas a:visited, details a:visited, embed a:visited,
figure a:visited, figcaption a:visited, footer a:visited, header a:visited, hgroup a:visited,
menu a:visited, nav a:visited, output a:visited, ruby a:visited, section a:visited, summary a:visited,
time a:visited, mark a:visited, audio a:visited, video a:visited {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Regular.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Bold.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Light.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./utils/fonts/NeueMontreal-Medium.woff2") format("woff2"), url("./utils/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(14, 14, 14);
}
.layout__container {
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  color: rgb(245, 245, 245);
  font-family: "Neue Montreal", serif;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(14, 14, 14);
  overflow: auto;
}
.layout__container::-webkit-scrollbar {
  width: 0.5rem;
}

.navBar {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 18vh;
  font-weight: 100;
  margin-right: 2rem;
  text-align: right;
}
.navBar__list {
  display: flex;
}
.navBar__item {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.navBar__item:hover {
  color: rgb(249, 198, 16);
  font-style: italic;
  transform: translateX(1rem);
}

@keyframes slideFromRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}
@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.home {
  height: 100%;
  width: 100%;
  background-image: url("./assets/sweetBlacksLines.webp");
  background-size: cover;
  color: rgb(245, 245, 245);
  font-family: "Neue Montreal", serif;
  position: relative;
}
.home__name {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
}
.home__textWrapper {
  overflow: hidden;
}
.home__firstName {
  animation: slideFromBottom 1s ease 0.3s forwards;
}
.home__secondName {
  animation: slideFromBottom 1s ease 0.6s forwards;
}
.home__title {
  font-size: 2rem;
  font-weight: 100;
  padding-left: 2rem;
  transform: translateY(100%);
  animation: slideFromBottom 1s ease 0.9s forwards;
  padding-bottom: 5px;
}
.home__firstName, .home__secondName, .home__title {
  transform: translateY(100%);
}
.home__portrait {
  animation: popUp 1s ease 0.6s forwards;
  transform: scale(0);
  height: 45%;
  position: absolute;
  bottom: 7rem;
  left: 7rem;
  opacity: 0;
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects__title {
  font-size: 5rem;
  font-weight: 100;
  padding: 2rem 0 0 2rem;
}
.projects__subtitle {
  font-size: 3rem;
  font-weight: 100;
  padding-left: 2rem;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projectCard {
  width: 23%;
  margin: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
}
.projectCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.projectCard.show {
  animation: appear 1s ease forwards;
}
.projectCard__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  filter: grayscale(100%) brightness(80%);
  transition: filter 0.3s ease;
}
.projectCard__img:hover {
  filter: grayscale(0%) brightness(100%);
}

.projectCard:hover .projectCard__overlay {
  opacity: 1; /* pleinement visible lors du survol */
}

@keyframes appearFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.ProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  background-color: black;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  z-index: 1000;
  animation: appearFromCenter 0.3s ease-out;
}
.ProjectModal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.ProjectModal__content {
  width: auto;
}/*# sourceMappingURL=main.css.map */