@use "../../utils/style/variables" as *;

@keyframes appearFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.ProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: $black;
  color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid $white;
  z-index: 1000;
  animation: appearFromCenter 0.3s cubic-bezier(0.94, 0.29, 0.11, 0.76);

  &.ProjectModal--dark {
    background-color: $black;
    color: $white;
  }

  &.ProjectModal--light {
    background-color: $white;
    color: $black;
    border: 1px solid $black;

    .container {
      border-bottom: 1px solid $black;

      &__close {
        color: $black;

        &:hover {
          color: $gold;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.8vh 1.8vh 0 1.8vh ;
  }

  &__img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2.5rem;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 ;
  }
  &__githubIcon,
  &__gitPageIcon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 1rem;
    fill: $white;
    span{
      font-size:1rem;
      margin:  0 1rem;
    }
  }
  &__skillsTitle {
    margin: 1.5rem;
  }
  &__skill {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    padding-left: 1.5rem;
  }
  &__icon {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    fill: $white;
  }
}

.container {
  border-bottom: 1px solid $white;
  display: flex;
  flex-direction: row-reverse;

  &__close {
    margin: 5px;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $gold;
    }
  }
}
