@use "../../utils/style/variables" as *;
@use "../../utils/style/devices" as *;

@keyframes appearFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.ProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: $black;
  color: $white;
  box-shadow: 0 0 25px rgba(22, 22, 22, 0.4);
  border: 1px solid $white;
  z-index: 1000;
  animation: appearFromCenter 0.3s cubic-bezier(0.94, 0.29, 0.11, 0.76);

  &.ProjectModal--dark {
    background-color: $black;
    color: $white;
  }

  &.ProjectModal--light {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    .container {
      border-bottom: 1px solid $black;
      &__close {
        color: $black;
        &:hover {
          color: $gold;
        }
      }
    }
  }
  &__content {
    margin: clamp(1rem, 2vh, 1.2rem);
  }
  &__mainContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: clamp(1rem, 2vh, 1.2rem);
  }

  &__img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    align-self: center;
  }

  &__title {
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    font-weight: 400;
    padding-top: clamp(0.5rem, 2vh, 1rem);
  }

  &__skillsTitle {
    margin: clamp(0.5rem, 2vw, 1.2rem);
    font-size: clamp(0.8rem, 2vw, 1.4rem);
  }
  &__skill {
    display: flex;
    align-items: center;
    margin: 0 clamp(0.1rem, 1vw, 1rem);
    padding-left: clamp(0.1rem, 1vw, 1rem);
    line-height: clamp(1rem, 3vw, 1.6rem);
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }
  &__skillsList {
    margin-bottom: 1rem;
  }
  &__githubIcon,
  &__gitPageIcon {
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 3vh, 1rem);
    margin: 1rem 1rem;
    fill: $white;
    span {
      font-size: clamp(0.5rem, 2vw, 1rem);
      margin: 0 1rem;
      &:hover {
        color: $gold;
      }
    }
  }
  &__icon {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    fill: $white;
  }
  .container {
    border-bottom: 1px solid $white;
    display: flex;
    flex-direction: row-reverse;

    &__close {
      margin: 5px;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      color: $white;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: $gold;
      }
    }
  }
  .leftClickableArea,
  .rightClickableArea {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 80%;
    cursor: pointer
  }

  .leftClickableArea {
    left: 0;
  }

  .rightClickableArea {
    right: 0;
  }
  @include desktop {
    width: 50%;
  }
  @include laptop {
    width: 60%;
    &__title {
      font-size: clamp(1.5rem, 2vw, 2rem);
    }
    &__skillsTitle {
      font-size: clamp(1.1rem, 1.8vw, 2rem);
    }
    &__skill {
      font-size: clamp(1rem, 1.7vw, 2rem);
      line-height: 1.2rem;
      padding-left: clamp(0.3rem, 1.5vw, 2rem);
    }
    &__icon {
      font-size: clamp(1rem, 3vw, 2rem);
    }
    &__githubIcon,
    &__gitPageIcon {
      font-size: clamp(1rem, 2vw, 1.5rem);
    }
  }
  @include tablet {
    width: 70%;
    &__title {
      font-size: clamp(1rem, 3vw, 1.3rem);
    }
  }
  @include mobileL {
    &__img {
      height: 20%;
    }
  }
}
