@use "../../utils/style/variables" as *;
@use "../../utils/style/devices" as *;

// LINK
.link {
    position: absolute;
    right: 8rem;
    bottom: 8rem;

    // TEXT
    &__text {
      font-size: clamp(1rem, 2vw, 1.5rem);
      font-weight: 100;
      color: $white;
      text-decoration: none;

      // HOVER STATE
      &:hover {
        color: $gold;
      }
    }

    // LAPTOP VIEW
    @include laptop {
      position: static;
      text-align: end;
      margin: 2rem 2rem 0 0;
    }
}
