@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";
@use "../../utils/style/devices" as *;

.contact {
  height: 100%;
  width: 100%;
  font-family: "Neue Montreal", serif;
  position: relative;

  &--dark {
    background-color: $grey-background;
    .contact__title {
      color: $white;
    }
  }

  &--light {
    background-color: $white;
    .contact__title {
      color: $black;
    }
  }

  &__title {
    font-size: clamp(2rem, 8vw, 5rem);
    padding: 4vw 0 0 4vw;
    font-weight: 100;
    animation: slideFromBottom 1s ease 0.9s forwards;
  }
  &__content {
    display: flex;
  }
  &__icon {
    align-self: flex-end;
    margin-left: 1rem;
    padding-bottom: 5rem;
  }
  &__text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-left: 1rem;
    padding-bottom: 5rem;
    font-weight: 100;
    width: 30%;
    align-self: flex-end;
  }
  @include laptop { 
    &__content {
      flex-direction: column;
    }
    &__icon {
      display: none;
    }
    &__text {
      align-self: center;
      margin-left: 0;
      margin-top: 2rem;
      padding-bottom: 1rem;
      width: clamp(300px, 60vw, 500px);
      line-height: 1.5rem;
    }
  }
  @include mobileM{
    &__text{
      width: 90%;}
  }
}
.social {
  position: absolute;
  bottom: clamp(1.5rem, 2vw, 2rem);
  right: clamp(1.5rem, 2vw, 2rem);
  display: flex;
  ul li {
    display: inline-block;
    margin: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  @include tablet{
    position: static;
    flex-direction: row-reverse;
  }
  @include mobileM {
    position: static;
    bottom: 0;
    right: 0;
  }
}
