@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";
.navBar {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 8vh;
  font-weight: 100;
  margin-right: 2rem;
  text-align: right;

  &__list {
    display: flex;
  }

  &__item {
    cursor: pointer;
    transition: transform 0.4s ease;
    &:hover {
      color: $gold;
      // font-style: italic;
      transform: translateX(-1rem);
    }
  }
}
@keyframes slideFromRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}