@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";
.navBar {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  font-weight: 100;
  margin-right: 2rem;
  text-align: right;
  &--dark {
    .navBar__item {
      color: $white;
    }
  }
  &--light {
    .navBar__item {
      color: $black;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    cursor: pointer;
    transition: transform 0.4s ease;
    &:hover {
      color: $gold;
      transform: translateX(-1rem);
    }
  }
}
@keyframes slideFromRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
