@use "../../utils/style/variables" as *;

.project {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;


  &__title {
    font-size: 5rem;
    font-weight: 100;
    padding: 4vw 0 0 4vw;
    color: $white; 
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: 100;
    padding-left: 4vw;
    color: $white;
  }

  &.project--dark {
    background-color: $grey-background;
  }

  &.project--light {
    background-color: $white;

    .project__title,
    .project__subtitle {
      color: $black;
    }
  }
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.project--blur {
  filter: blur(2px);
  transition: filter 0.5s ease;
}
