@use "../../utils/style/variables" as *;

.formation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__title {
    font-size: 5rem;
    font-weight: 100;
    padding: 4vw 0 0 4vw;
    color: $white;
  }

  &.formation--light {
    background-color: $white;

    .formation__title,
    .formation__content {
      color: $black;
    }
    .formation__section-title {
      font-weight: 100;
    }
    .formation__skill {
      font-weight: 400;
      color: rgb(122, 122, 122);
    }
  }

  &__content {
    margin: 1rem 0 2rem 15rem;
    padding-bottom: 2rem;
    color: $white;
    max-width: 630px;
  }

  &__paragraph {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  &__section {
    margin-top: 3rem;
  }

  &__section-title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  &__skills {
    list-style-type: disc;
    padding-left: 4rem;
    font-size: 1.2rem;
  }
  &__skill {
    margin-bottom: 0.5rem;
    font-weight: 100;
    line-height:2rem;
  }
  &__conclusion {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
