// IMPORTS
@use "../../utils/style/variables" as *;
@use "../../utils/style/devices" as *;

// KEYFRAMES
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// PROJECT CARD STYLES
.projectCard {
  width: 20%;
  min-width: 187px;
  margin: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1px solid $black;
  border-radius: 5px;

  // HOVER EFFECTS
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.4);

    & .projectCard__img {
      filter: grayscale(0%) brightness(100%);
    }

    & .projectCard__overlay {
      opacity: 1;
    }
  }

  // ANIMATION APPEARANCE
  &.show {
    animation: appear 1s ease forwards;
  }

  // IMAGE STYLING
  &__img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%) brightness(90%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  // BANNER STYLING
  &__banner {
    position: absolute;
    top: 0;
    left: -0px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 1;

    // DARK THEME
    &--dark {
      background-color: white;
      color: black;
    }
  }

  // MEDIA QUERIES
  @include laptop {
    width: 40%;
  }

  @include tablet {
    width: 80%;
  }
}
