@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectCard {
  width: 23%;
  margin: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &.show {
    animation: appear 1s ease forwards;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%) brightness(85%);
    transition: filter 0.3s ease, transform 0.3s ease; 
  }

  &:hover &__img {
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.1); 
  }
}

.projectCard:hover .projectCard__overlay {
  opacity: 1; 
}
