@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";
@use "../../utils/style/devices" as *;

//KEYFRAMES
@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}

@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}

//GENERAL HOME STYLE
.home {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: "Neue Montreal", serif;
  position: relative;

  &__name {
    font-size: 4rem;
    font-weight: 100;
    padding: 4vw 0 0 4vw;
    margin-right: 4vw;
  }

  &__textWrapper {
    overflow: hidden;
  }

  &__fullName,
  &__title {
    transform: translateY(100%);
  }

 //THEME STYLE FOR HOME
  &--blur {
    animation: fadeBlur 0.8s ease;
  }

  &--dark {
    background-color: $grey-background;
    .home__fullName,
    .home__title {
      color: $white;
    }
  }

  &--light {
    background-color: $white;
    .home__fullName,
    .home__title {
      color: $black;
    }
  }

  &__fullName {
    animation: slideFromBottom 0.8s ease 0.3s forwards;
  }

  &__title {
    font-size: 2rem;
    font-weight: 100;
    padding-left: 4vw;
    animation: slideFromBottom 0.8s ease 0.8s forwards;
    padding-bottom: 5px;
  }
}
//GENRAL PORTRAIT STYLE
.portrait {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 14% 0 auto 26%;
  padding-top: 4rem;
  height: 45%;

 //PORTRAIT THEME STYLE 
  &__image {
    animation: popUp 0.7s ease-in-out 1s forwards;
    transform: scale(0);
    opacity: 0;
    border: 1px solid $black;
  }

  &__quote {
    font-size: 1.5rem;
    font-weight: 100;
    align-self: flex-end;
    margin-left: 1.5rem;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s 1.5s steps(40, end) forwards;
  }
}

//MEDIA QUERIES

@include desktop {
  .home {
    &__name {
      font-size: 3.5rem;
    }
    &__title {
      font-size: 1.5rem;
    }
  }
  .portrait {
    margin: auto 0 auto 20%;
    &__quote {
      font-size: 1.2rem;
    }
  }
}

@include laptopL {
  .home {
    &__name {
      font-size: 2rem;
    }
    &__title {
      font-size: 1.2rem;
    }
  }
  .portrait {
    margin: auto 0 auto 15%;
    &__quote {
      font-size: 1rem;
    }
  }
}

@include tablet {
  .home {
    &__name {
      font-size: 1.8rem;
    }
    &__title {
      font-size: 1rem;
    }
  }
  .portrait {
    margin: 10vh 0 auto 15%;
    &__quote {
      visibility: hidden;
    }
  }
}

@include mobileL {
  .portrait {
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 70%;
    &__image {
      width: 100%;
    }
    &__quote {
      display: none;
    }
  }
}

@include mobileM {
  .portrait {
    width: 60%;
  }
}
