@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";

@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}
@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeBlur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}
.home {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: "Neue Montreal", serif;
  position: relative;
  &--blur {
    animation: fadeBlur 3s ease  forwards;
  }
  &--dark {
    background-color: $grey-background;
    .home__fullName,
    .home__title {
      color: $white;
    }
  }
  &--light {
    background-color: $white;
    .home__fullName,
    .home__title {
      color: $black;
    }
  }
  &__name {
    font-size: 3rem;
    font-weight: 100;
    padding: 4rem 0 0 4rem;
  }
  &__textWrapper {
    overflow: hidden;
  }
  &__fullName {
    animation: slideFromBottom 1s ease 0.3s forwards;
  }

  &__title {
    font-size: 2rem;
    font-weight: 100;
    padding-left: 4rem;
    animation: slideFromBottom 1s ease 0.5s forwards;
    padding-bottom: 5px;
  }
  &__fullName,
  &__title {
    transform: translateY(100%);
  }
  &__portrait {
    animation: popUp 1s ease-in-out 0.2s forwards;
    transform: scale(0);
    height: 45%;
    position: absolute;
    opacity: 0;
    border: 1px solid $black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
