@use "../../utils/style/variables" as *;
@use "../../utils/fonts/fonts";

@keyframes slideFromBottom {
  100% {
    transform: translateY(0);
  }
}
@keyframes popUp {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}
.home {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-family: "Neue Montreal", serif;
  position: relative;
  &--blur {
    animation: fadeBlur 0.8s ease;
  }
  &--dark {
    background-color: $grey-background;
    .home__fullName,
    .home__title {
      color: $white;
    }
  }
  &--light {
    background-color: $white;
    .home__fullName,
    .home__title {
      color: $black;
    }
  }
  &__name {
    font-size: 3rem;
    font-weight: 100;
    padding: 4rem 0 0 4rem;
  }
  &__textWrapper {
    overflow: hidden;
  }
  &__fullName {
    animation: slideFromBottom 1s ease 0.3s forwards;
  }

  &__title {
    font-size: 2rem;
    font-weight: 100;
    padding-left: 4rem;
    animation: slideFromBottom 1s ease 0.5s forwards;
    padding-bottom: 5px;
  }
  &__fullName,
  &__title {
    transform: translateY(100%);
  }
}
.portrait {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto 0 auto 26%;
  padding-top: 4rem;
  height: 45%;
  &__image {
    animation: popUp 1s ease-in-out 0.2s forwards;
    transform: scale(0);

    opacity: 0;
    border: 1px solid $black;
  }
  &__quote {
    font-size: 1.5rem;
    font-weight: 100;
    align-self: flex-end;
    margin-left: 1.5rem;
  }
}
